#aboutpage{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(gray,black);
}
#aboutpage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 950px;
    margin: auto;
}
#aboutpage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#aboutpage>aside>div>h3{
    font-size: 30px;
    color: orange;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#aboutpage>figure{
    position: absolute;
    top: 210px;
    left: 1020px;
    margin: auto;
}
#aboutpage>main>div{
    width: 750px;
    height: 450px;
    position: absolute;
    top: 250px;
    left: 100px;
}
#aboutpage>main>div>p{
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    margin: auto;
}
#aboutpage>section>div{
    width: 220px;
    height: 50px;
    background-color: #5F6160;
    border-radius: 10px;
    opacity: 50%;
    position: absolute;
    left: 800px;
    bottom: 150px;
    margin: auto;
}
#aboutpage>section>.button-86{
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: absolute;
    left: 800px;
    bottom: 150px;
    margin: auto;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}
.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background:#ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);

    width: 200px;
    height: 35px;
    border-radius: 15px;
}

#aboutpage>section>button>a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 2px;
}


/* Media Query for max-width 1440px */
@media (max-width: 1440px) {

    #aboutpage>header>h1 {
        font-size: 180px;
        left: 850px;
        top: 25px;
    }

    #aboutpage>aside>div {
        width: 300px;
        top: 125px;
    }

    #aboutpage>aside>div>h3 {
        font-size: 30px;
        left: 149px;
    }

    #aboutpage>figure {
        top: 261px;
        left: 909px;
    }

    #aboutpage>main>div {
        width: 600px;
        height: 350px;
        top: 264px;
        left: 198px;
    }

    #aboutpage>main>div>p {
        font-size: 20px;
    }

    #aboutpage>section>div {
        width: 180px;
        bottom: 100px;
    }

    #aboutpage>section>.button-86 {
        width: 125px;
        height: 24px;
        font-size: 20px;
        left: 666px;
        bottom: 181px;
    }
}

