#aboutpage{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(black,grey);
}
#aboutpage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 950px;
    margin: auto;
}
#aboutpage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#aboutpage>aside>div>h3{
    font-size: 30px;
    color: orange;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#aboutpage>figure{
    position: absolute;
    top: 210px;
    left: 1020px;
    margin: auto;
}
#aboutpage>main>div{
    width: 750px;
    height: 450px;
    position: absolute;
    top: 250px;
    left: 100px;
}
#aboutpage>main>div>p{
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    margin: auto;
}