#contactPage{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(grey,black);
}
#contactPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 800px;
    margin: auto;
}
#contactPage>aside>div{
    width: 70px;
    height: 500px;
    background-color: #1A1A1A;
    position: absolute;
    right: 380px;
    top: 230px;
    margin: auto;
    border-radius: 10px;
}
#Linkedin1{
    position: relative;
    left: 12px;
    top: 20px;
    margin: auto;
}
#Whatsapp1{
    position:relative;
    top: 70px;
    left: 12px;
    margin: auto;
}
#Github1{
    position: relative;
    top: 130px;
    left: 12px;
    margin: auto;
}
#Medium1{
    position: relative;
    top: 190px;
    left: 12px;
    margin: auto;
}
#Gmail1{
    position: relative;
    top: 250px;
    left: 12px;
    margin: auto;
}
#contactPage>section>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#contactPage>section>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 130px;
    top: 8px;
    margin: auto;
}
.contact-form {
    position: absolute;
    top: 280px;
    left: 500px;
    width: 550px;
    background-color:grey;
    padding: 20px;
    border-radius: 10px;
}

.contact-form label {
    color: white;
}

.contact-form .heading {
    font-size: 24px;
    color: white;
;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
    width: 510px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
    background-color: #ff6384;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
#contactPage>footer>h3{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #f0f0f0;
}

/* Media Query for max-width 1440px */
@media (max-width: 1440px) {

    #contactPage>header>h1 {
        font-size: 180px;
        left: 750px;
        top: 25px;
    }

    #contactPage>section>div {
        width: 300px;
        top: 126px;
    }
    #contactPage>section>div>h3 {
        font-size: 30px;
        left: 130px;
        top: 8px;
    }

    .contact-form{
        left: 384px;
    }
    #contactPage>aside>div{
        right: 364px;
    }
}

/* Media Query for max-width 1024px */
@media (max-width: 1024px) {
    #contactPage>header>h1 {
        font-size: 160px;
        left: 400px;
        top: 25px;
    }

    #contactPage>aside>div {
        width: 67px;
        height: 408px;
        right: 180px;
        top: 254px;
    }

    #linkedin1 {
        left: 12px;
        top: 10px;
    }

    #Whatsapp1 {
        top: 50px;
        left: 12px;
    }

    #Github1 {
        top: 90px;
        left: 12px;
    }

    #Medium1 {
        top: 130px;
        left: 12px;
    }

    #Gmail1 {
        top: 170px;
        left: 12px;
    }

    #contactPage>section>div {
        width: 300px;
        height: 50px;
        top: 120px;
    }

    #contactPage>section>div>h3 {
        font-size: 28px;
        left: 120px;
        top: 8px;
    }

    .contact-form {
        top: 250px;
        left: 223px;
        width: 527px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 490px;
    }

    .contact-form button[type="submit"] {
        padding: 10px 15px;
        font-size: 14px;
    }

    #contactPage>footer>h3 {
        font-size: 20px;
    }
}

/* Media Query for max-width 768px */
@media (max-width: 768px) {
    #contactPage>header>h1 {
        font-size: 120px;
        left: 308px;
        top: 41px;
    }

    #contactPage>aside>div {
        width: 60px;
        height: 399px;
        right: 60px;
        top: 260px;
    }

    #Linkedin1 {
        left: 10px;
        top: 10px;
    }

    #Whatsapp1 {
        top: 50px;
        left: 10px;
    }

    #Github1 {
        top: 90px;
        left: 10px;
    }

    #Medium1 {
        top: 130px;
        left: 10px;
    }

    #Gmail1 {
        top: 170px;
        left: 10px;
    }

    #contactPage>section>div {
        width: 250px;
        height: 50px;
        top: 100px;
    }

    #contactPage>section>div>h3 {
        font-size: 24px;
        left: 100px;
        top: 8px;
    }

    .contact-form {
        top: 250px;
        left: 105px;
        width: 500px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 460px;
    }

    .contact-form button[type="submit"] {
        padding: 10px 15px;
        font-size: 14px;
    }

    #contactPage>footer>h3 {
        font-size: 18px;
    }
}

