#homeBackground{
    position: relative;
    height: 100vh;
}
#homeBackground>video{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;

}
/*#hero-overlayer {*/
/*    background: rgba(35,45,57,0.8);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/
#homePagePhoto>div{
    background-image: url("../assets/homePagePhoto.jpg");
    background-position: top;
    width: 450px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 120px;
    right: 60px;
    margin: auto;
    overflow: hidden;
    animation: card 2s infinite;
}
@keyframes card {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}
#homePageAside>div{
    width: 67px;
    height: 500px;
    background-color: #1A1A1A;
    position: absolute;
    left: 130px;
    top: 120px;
    margin: auto;
    border-radius: 10px;
}
#Linkedin{
    position: relative;
    left: 12px;
    top: 20px;
    margin: auto;
}
#Whatsapp{
    position:relative;
    top: 70px;
    left: 12px;
    margin: auto;
}
#Github{
    position: relative;
    top: 130px;
    left: 12px;
    margin: auto;
}
#Medium{
    position: relative;
    top: 190px;
    left: 12px;
    margin: auto;
}
#Gmail{
    position: relative;
    top: 250px;
    left: 12px;
    margin: auto;
}
#homePage>h2{
    color: white;
    font-size: 70px;
    position: absolute;
    left: 250px;
    top: 250px;
    margin: auto;
}
#homePage>h1{
    color: orange;
    font-size: 90px;
    position: absolute;
    left: 250px;
    top: 320px;
    margin: auto;
}
#homePage>h4{
    color: white;
    font-size: 50px;
    position: absolute;
    left: 250px;
    top: 420px;
    margin: auto;
}
#homePageFooter>nav>div{
    width: 880px;
    height: 50px;
    background-color: #959595;
    position: absolute;
    top:650px;
    left: 400px;
    margin: auto;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
#homePageFooter>nav>div>i{
    display: none;
}
#homePageFooter>nav>div>div>a{
    text-decoration: none;
    color: black;
    margin-right: 2px;
}
#homePageFooter>nav>div>div>a:hover{
    color: orange;
}
body>section>h4:first-child {
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    font-family: 'tradegothiclt-bold', sans-serif;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}



/* Media Query for max-width 1440px */
@media all and (max-width: 1440px) {
    #homeBackground {
        height: auto;
    }

    #homeBackground>video {
        width: 100%;
        height: auto;
    }

    #homePagePhoto>div {
        width: 450px;
        top: 125px;
        right: 60px;
    }

    #homePageAside>div {
        width: 67px;
        height: 500px;
        left: 130px;
        top: 163px;
    }

    #homePage>h2 {
        font-size: 50px;
        top: 250px;
    }

    #homePage>h1 {
        font-size: 70px;
        top: 320px;
    }

    #homePage>h4 {
        font-size: 40px;
        top: 420px;
    }

    #homePageFooter>nav>div {
        width: 880px;
        top: 650px;
        left: 250px;
    }

    #homePageFooter>nav>div>div>a:hover{
        color: orange;
    }
}

/* Media Query for max-width 1024px */
@media all and (max-width: 1024px) {
    #homeBackground {
        height: auto;
    }

    #homeBackground>video {
        width: 1024px;
        height: auto;
    }

    #homePagePhoto>div {
        width: 379px;
        top: 40px;
        right: 20px;
    }

    #homePageAside>div {
        width: 64px;
        height: 486px;
        left: 92px;
        top: 118px;
    }

    #homePage>h2 {
        font-size: 40px;
        top: 326px;
    }

    #homePage>h1 {
        font-size: 60px;
        top: 376px;
    }

    #homePage>h4 {
        font-size: 30px;
        top: 455px;
    }

    #homePageFooter>nav>div {
        width: 629px;
        top: 640px;
        left: 190px;
        font-size: 17px;
        padding-left: 53px;
        padding-top: 17px;
    }

    #homePageFooter>nav>div>div>a:hover{
        color: orange;
    }
}

/* Media Query for max-width 768px */
@media (max-width: 768px) {
    #homeBackground {
        height: auto;
    }

    #homeBackground>video {
        width: 768px;
        height: auto;
    }

    #homePagePhoto>div {
        width: 392px;
        top: 90px;
        right: 20px;
    }

    #homePageAside>div {
        width: 65px;
        height: 489px;
        left: 30px;
        top: 151px;
    }

    #homePage>h2 {
        font-size: 30px;
        top: 466px;
        left: 150px;
    }

    #homePage>h1 {
        font-size: 45px;
        top: 507px;
        left: 150px;
    }

    #homePage>h4 {
        font-size: 25px;
        top: 564px;
        left: 150px;
    }

    #homePageFooter>nav>div {
        width: 506px;
        font-size: 15px;
        top: 705px;
        left: 126px;
        padding-left: 22px;
    }

    #homePageFooter>nav>div>div>a:hover{
        color: orange;
    }
}

/* Media Query for max-width 425px */
@media (max-width: 426px) {
    #homePageFooter>nav>div>i{
        display: block;
    }

    #homePageFooter>nav>div>div{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: transparent;
        padding: 0.5%;
        transform: scale(0);
    }

    .toggle-btn.active:before{
        content: '\f00d';
    }

    #homePageFooter>nav>div>div>a{
        display: block;
        text-align: right;
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    #homePageFooter>nav>div>div.active{
        transform: scale(1);
    }

    #homePageFooter>nav>div.active{
        width: 150px;
        right: -140px;
    }

    #homePageFooter>nav>div{
        width: 50px;
        height: 50px;
        background-color: #959595;
        position: absolute;
        top:50px;
        right: -200px;
        margin: auto;
        border-radius: 10px;
        font-size: 25px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #homePage>h1{
        font-size: 35px;
        top: 635px;
        left: 114px;
    }

    #homePage>h2{
        top: 597px;
        left: 114px;
    }

    #homePage>h4{
        top: 681px;
        left: 114px;
    }

    #homePageAside>div{
        width: 70px;
        height: 480px;
        left: 10px;
        top: 477px;
    }

    #homePagePhoto>div{
        width: 392px;
        top: 120px;
        right: 10px;
    }

    #homePageFooter>nav>div>div>a:hover{
        color: orange;
    }
}

/* Media Query for max-width 375px */
@media (max-width: 376px) {
    #homePageFooter > nav > div > i {
        display: block;
    }
    #homePageFooter>nav>div>div{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: transparent;
        padding: 0.5%;
        transform: scale(0);
    }
    .toggle-btn.active:before{
        content: '\f00d';
    }
    #homePageFooter>nav>div>div>a{
        display: block;
        text-align: right;
        margin: 10px;
        font-size: 20px;
        color: white;
    }

    #homePageFooter>nav>div>div.active{
        transform: scale(1);
    }
    #homePageFooter>nav>div.active{
        width: 150px;
        right: -93px;
    }

    #homePageFooter>nav>div{
        width: 50px;
        height: 50px;
        background-color: #959595;
        position: absolute;
        top:50px;
        right: -169px;
        margin: auto;
        border-radius: 10px;
        font-size: 25px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    #homePage>h1{
        font-size: 30px;
        top: 633px;
        left: 106px;
    }

    #homePage>h2{
        top: 585px;
        left: 105px;
    }

    #homePage>h4{
        top: 672px;
        left: 105px;
    }
}