#projectPage{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(gray,black);
}
#projectPage>aside>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#projectPage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
.card1-info>p{
    color: white;
}
.project{
    position: absolute;
    color: white;
    text-decoration: none;
    margin-top: 14rem;
}
.card1 {
    --background: linear-gradient(snow,gainsboro);
    width: 220px;
    height: 300px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    top: 350px;
    left: 150px;
    z-index: 1;
}