#skillPage{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(black,grey);
}
#skillPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 950px;
    margin: auto;
}
#skillPage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#skillPage>aside>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#fullSkillTags{
    top: 100px;
    position: relative;
}

#firstSkill{
    position: absolute;
    left: 100px;
    top: 300px;
}
#secondSkill{
    position: absolute;
    left: 350px;
    top: 300px;
}

