#skillPage{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(grey,black);
}
#skillPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 950px;
    margin: auto;
}
#skillPage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#skillPage>aside>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#fullSkillTags{
    top: 100px;
    position: relative;
}

#firstSkill{
    position: absolute;
    left: 100px;
    top: 300px;
}
#secondSkill{
    position: absolute;
    left: 350px;
    top: 300px;
}
#thirdSkill{
    position: absolute;
    left: 600px;
    top: 300px;
}

#fourthSkill{
    position: absolute;
    left: 850px;
    top: 310px;
}

#fifthSkill{
    position: absolute;
    left: 1080px;
    top: 310px;
}

#sixthSkill{
    position: absolute;
    left: 1300px;
    top: 310px;
}

/* Media Query for max-width 1440px */
@media (max-width: 1440px) {
    /*#skillPage>header>h1 {*/
    /*    font-size: 180px;*/
    /*    left: 915px;*/
    /*    top: 30px;*/
    /*}*/

    #skillPage>aside>div {
        width: 300px;
        top: 125px;
    }

    #skillPage>aside>div>h3 {
        font-size: 30px;
        left: 200px;
    }

    #fullSkillTags{
        top: -50px;
    }

    #firstSkill {
        left: 150px;
        top: 450px;
    }

    #secondSkill {
        left: 350px;
        top: 450px;
    }

    #thirdSkill {
        left: 550px;
        top: 450px;
    }

    #fourthSkill {
        left: 750px;
        top: 450px;
    }

    #fifthSkill {
        left: 950px;
        top: 450px;
    }

    #sixthSkill {
        left: 1150px;
        top: 450px;
    }
}

/* Media Query for max-width 1024px */
@media (max-width: 1024px) {
    /*#skillPage>header>h1 {*/
    /*    font-size: 160px;*/
    /*    left: 566px;*/
    /*    top: 20px;*/
    /*}*/

    #skillPage>aside>div {
        width: 250px;
        top: 100px;
    }

    #skillPage>aside>div>h3 {
        font-size: 28px;
        left: 160px;
    }

    #fullSkillTags {
        top: 20px;
        left: -139px;
    }

    #firstSkill {
        left: 150px;
        top: 350px;
    }

    #secondSkill {
        left: 320px;
        top: 350px;
    }

    #thirdSkill {
        left: 490px;
        top: 350px;
    }

    #fourthSkill {
        left: 660px;
        top: 350px;
    }

    #fifthSkill {
        left: 830px;
        top: 350px;
    }

    #sixthSkill {
        left: 1000px;
        top: 350px;
    }
}

/* Media Query for max-width 768px */
@media (max-width: 768px) {
    #skillPage>header>h1 {
        font-size: 140px;
        left: 396px;
        top: 20px;
    }

    #skillPage>aside>div {
        width: 200px;
        top: 100px;
    }

    #skillPage>aside>div>h3 {
        font-size: 25px;
        left: 123px;
    }

    #fullSkillTags {
        top: 20px;
        left: -89px;
    }

    #firstSkill {
        left: 182px;
        top: 258px;
    }

    #secondSkill {
        left: 289px;
        top: 385px;
    }

    #thirdSkill {
        left: 482px;
        top: 384px;
    }

    #fourthSkill {
        left: 617px;
        top: 284px;
    }

    #fifthSkill {
        left: 395px;
        top: 208px;
    }

    #sixthSkill {
        left: 398px;
        top: 583px;
    }
}

